@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: #000;
  font-family: Inter;
  font-weight: normal;

}

main {
  background-color: gray;
  color: #1A1B21;
  width: 317px;
  border-radius: 10px;
  margin: auto;
}
header img {
  max-width: 100%;
  height: 200%;
  display: block;
  border-radius: 10px 10px 0 0;
  object-fit: cover;        /* o contain */
  object-position: center;  /* top, left, 50% 20%, etc */
}
header {
  width: 317px;
  height: 350px;
  overflow: hidden;
}
.cuerpo{
  background-color: #1A1B21;
  color: white;
}
h1 {
  padding: 20px 0;
}
h2 {
  font-size: 16px;
  color: orange;
  padding-bottom: 10px;
}
h3 {
  padding:  10px 0;
  font-size: 14px;
  font-weight: normal;
}
p {
  margin: 10px 0;
  text-align: left;
  font-size: 12px;
  padding: 15px;
}
p b {
  text-transform: uppercase;
}
p:last-child {
  margin-bottom: 0;
}
.botones {
  display: flex;
  justify-content: space-around;
}
button  {
  padding: 10px;
  min-width: 120px;
}
button:last-child {
  background-color: skyblue;
  color: white;
}
footer {
  padding: 20px;
  background-color: #161619;
  color: gray;
  border-radius: 0 0 10px 10px;
}
footer ul{
  display: flex;
  list-style: none;
  justify-content: space-around;

}
svg {
  width:"24px";
  height:"24px"
}